---
layout: default
---
<div class="post">
  <header class="post-header">
    
    <h1 class="post-title">
      {{ page.title }}
    </h1>

    {% if page.description %}
      <p class="post-description">
        {{ page.description }}
      </p>
    {% endif %}
  
    {% if page.cv_pdf %}
      <p class="post-description">
        <a
          {% if page.cv_pdf contains '://' %}
            href="{{ page.cv_pdf }}"
          {% else %}
            href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
          {% endif %}
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
        >
          <i class="fa-solid fa-file-pdf">Click me for the pdf version of the CV!</i>
          <br>
        </a>
      </p>
    {% endif %}

  </header>

  <article>
    <div class="cv">
      {% for data in site.data.resume %}
        {% if site.jsonresume and site.jsonresume.size > 0 %}
          {% unless site.jsonresume contains data[0] %}
            {% continue %}
          {% endunless %}
        {% endif %}
        {% if data[0] == 'meta' or data[1].size == 0 %}
          {% continue %}
        {% endif %}

        {% case data[0] %}
        
          {% when 'basics' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/basics.liquid %}
              </div>
            </div>
            
          {% when 'education' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/education.liquid %}
              </div>
            </div>
            
          {% when 'work' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/work.liquid %}
              </div>
            </div>
            
          {% when 'skills' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/skills.liquid %}
              </div>
            </div>
            
          {% when 'publications' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/publications.liquid %}
              </div>
            </div>

          {% when 'projects' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/publications.liquid %}
              </div>
            </div>

          {% when 'certificates' %}
            <a class="anchor" id="{{ data[0] }}"></a>
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
              <div>
                {% include resume/publications.liquid %}
              </div>
            </div>
            
          {% else %}
        
        {% endcase %}
      {% endfor %}
    </div>
  </article>
</div>